#=====================================================================#
#                       DMP Configuration                       #
#=====================================================================#

DMP_MYSQL_HOST=openinsight-mysql
DMP_MYSQL_PORT=3306
DMP_MYSQL_USERNAME=root
DMP_MYSQL_PASSWORD=
DMP_DB_NAME=openinsight

DMP_REDIS_HOST=openinsight-redis
DMP_REDIS_PORT=6379
DMP_REDIS_PASSWORD=
DMP_REDIS_DATABASE=11


OSS_ENDPOINT=http://openinsight-minio:9000
OSS_USERNAME=
OSS_PASSWORD=
OSS_REGION=
OSS_BUCKET_NAME=
OSS_PRIVATE_ENDPOINT=

MONGODB_URI=mongodb://openinsight-mongodb:27017/LibreChat

AGENT_PLATFORM_BASE_URL=http://openinsight-arp:33080

DMP_PUBLIC_WEB_PORT=30080

MEILI_HOST=http://openinsight-meilisearch:7700
MEILI_MASTER_KEY=
MEILI_INDEX_VOCALUARY=vocabulary_keyword

PI_HOST=
PI_API_KEY=

# admin初始化
ADMIN_INIT_NAME=管理员
ADMIN_INIT_USERNAME=chatbi
ADMIN_INIT_PASSWORD=Chatbi.123
ADMIN_INIT_TENANT_ID=163
ADMIN_INIT_EMAIL_SUFFIX=example.com
# 调用/open-api/system/user/get-by-third-party-user-id接口，thirdPartyUserId的用户不存在，则自动生成第三方用户信息
ADMIN_AUTO_GENERATE_THIRD_PARTY_USER=true

# dmp系统访问的host，如http://xxxxxx:30080
DMP_HOST=
DMP_VERSION=2.0.2.8

STANDARD_REPORT_DOWNLOAD_TOKEN_SECRET=

